asgiref
attrs
backcall
bleach
colorama
decorator
defusedxml
Django
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
packaging
pandas
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
scikit-learn
scipy
Send2Trash
six
sqlparse
terminado
testpath
threadpoolctl
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
-e .
